---
export interface Props {
    title?: string;
    keywords?: string;
    description?: string;
    baseUrl?: string;
    path?: string;
    image?: string;
}

const defaultProps = {
    title: "Astro for Docs",
    keywords: "Astro, TailwindCSS",
    description: "Built with Astro and TailwindCSS",
    baseUrl: "https://astrofordocs.vercel.app",
    path: "/",
    image: "/home.png",
};

const {
    title = defaultProps.title,
    keywords = defaultProps.keywords,
    description = defaultProps.description,
    baseUrl = defaultProps.baseUrl,
    path = defaultProps.path,
    image = defaultProps.image,
} = Astro.props;
---

{/* Primary Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="icon" href="/favicon.svg" />

{/* Open Graph - Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={`${baseUrl + path}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

{/* Twitter*/}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={`${baseUrl + path}`} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
