---
import type { MetaType } from "../lib/types";
import { defaultMeta } from "../lib/data";

type Props = MetaType;

const {
    title = defaultMeta.title,
    keywords = defaultMeta.keywords,
    description = defaultMeta.description,
    baseUrl = defaultMeta.baseUrl,
    path = defaultMeta.path,
    image = defaultMeta.image,
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{/* Primary Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="icon" href="/favicon.svg" />

{/* Open Graph - Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={`${baseUrl + path}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

{/* Twitter*/}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={`${baseUrl + path}`} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
